# Environment files
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Tools
.ruff_cache/
.vercel/

# Jupyter
.ipynb_checkpoints/

# Project specific
app/utils/request_logs.txt
model/dataset/
model/trained_models/